body{
    background-color: white;
    align-items: center;
}

h1{
    color:rgb(3, 3, 3);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
    font-size:100px;
    font-family: "Edwardian Script ITC", sans-serif;
}

.noticeContainer{
    
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    width: 1000px;
    height: 500px;
    padding: 20px;
}

.studentInformationForm{
    color:yellow;
    font-size: 20px;
    background:linear-gradient(to right, black,rgb(12, 3, 182));
    border-radius: 30px;
    width: 400px;
    height: 500px;
    margin: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.522);
}

#studentFormButton{
    background-color: rgb(0, 244, 0);
    color: rgb(2, 0, 7);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    width: 150px;
    height: 50px;
}

h2{
    font-family: 'Chiller', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.cs1142Paper{
    border: none;
    font-size: 20px;
    background:linear-gradient(to right,rgb(255, 157, 0),rgb(251, 255, 0));
    border-radius: 30px;
    width: 400px;
    height: 500px;
    margin: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.522);
    
}

#cs1142PaperButton{
    background-color: rgb(0, 244, 0);
    color: rgb(2, 0, 7);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    
}