body {
    /*background : linear-gradient(to right black,rgb(12, 12, 110));*/
    background-image:/* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),*/
                    url("..\PicturesFolder\ColoredLion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-image: capacity cover;
}
fieldset{
    background-color: rgba(255, 255, 255, 0.715);
    /*text-align: center;*/
    width: 40%;
    height: 70%;
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
}


h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
label{
    color: black;
    
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
}

#clock{
    font-size: 50px;
    color: white;
    text-align: center;
    backdrop-filter: blur(5px);
}

#clock_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid;
    height: 80px;
    border-radius: 30px;
    border-color: yellow;
    background: linear-gradient(to right, black,rgb(27, 27, 191));

}