body{
    background-color: #1f3c64;
    background:linear-gradient(to right,black,rgb(30, 30, 160));
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;
}
h1,h2,h3{
    text-align: center;
    font-size: 28px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;
}

h4{
    color: rgb(5, 5, 5);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}

hr{
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 20px;
}

p{
    font-weight:bold;
}

.questionContainer {
    background-color: rgba(255, 255, 255, 0.295);
    font-size: clamp(14px, 1.25vw, 18px);
    height:fit-content;
    width: 70%;
    border-radius: 45px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 24px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.question {
    background-color: rgb(255, 254, 254);
    color: rgb(72, 68, 68);
    border: 3px solid rgb(0, 0, 0);
    font-size: clamp(14px, 1.25vw, 18px);
    border-radius: 15px;
    font-weight: none;
    height: auto;
    width: 70%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    margin: 20px auto;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.336);

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.correctAnswers{
    font-weight: bold;
    color: rgb(0, 4, 252);
    text-align: center;
}

input[type="radio"], input[type="checkbox"] {
    width: 1.5%;
    height: 1.5%;
    transform: none;
    cursor: pointer;
}

#timmer_container{
    font-size: clamp(22px, 2.5vw, 36px);
    color: rgb(251, 255, 0);
}

#marks{
    font-size: clamp(20px, 2vw, 30px);
    color: rgb(0, 255, 0);
    text-align: center;
    margin-bottom: 20px;
}

#submitBtn{
    background-color: rgb(0, 253, 0);
    color: rgb(255, 255, 255);
    font-size: clamp(16px, 1.5vw, 20px);
    width: auto;
    min-width: 140px;
    height: auto;

    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

#submitBtn:hover{
    background-color: rgb(2, 194, 2);
    color: rgb(255, 255, 255);
    transition: background-color 0.6s ease;
}

#resetBtn{
    background-color: rgb(255, 2, 2);
    color: rgb(255, 255, 255);
    font-size: clamp(16px, 1.5vw, 20px);
    width: auto;
    min-width: 140px;
    height: auto;

    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

#resetBtn:hover{
    background-color: rgb(190, 0, 0);
    color: rgb(255, 255, 255);
    transition: background-color 0.6s ease;
}

