* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family:poppins, sans-serif;
    background-color: rgb(21, 100, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.quiz-container {
    background-color: rgb(232, 239, 196);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 700px;
    max-width: 700px;
    margin:auto;
}
.question-card {
    background-color: rgb(255, 254, 254);
    color: rgb(72, 68, 68);
    border: 3px solid rgb(0, 0, 0);
    font-size: 100%;
    border-radius: 15px;
    font-weight: none;
    height: auto;
    width: 90%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    margin: 20px auto;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.336);

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;



}

h4{
    color: rgb(5, 5, 5);
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}
#submitButton {
    width: 100%;
    padding: 10px;
    background-color: rgb(51, 255, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}
#submitButton:hover {
    background-color: rgb(227, 87, 12);
}