body{
    
    background-image: url("../PicturesFolder/Ruhuna1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}



h1{

    color:rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
    font-size:700%;
    font-family: "Edwardian Script ITC", sans-serif;
}

#paperNoticeTitle{
    font-size: 120%;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;
    color: black;
}

#studentInformation{
    font-size: 120%;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;
    color: black;
}

#timeTable{
    font-size: 120%;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;
    color: black;
}

hr{
    border:3px solid rgb(255, 255, 255);
}

.noticeContainer{
    
    text-align: center;
    
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 30px;
    justify-content: center;
    display: flex;
    width: 80%;
    height: 450px;
    padding: 1px;
}

.studentInformationForm{
    color:black;
    
    background:rgba(255, 255, 255, 0.777);
    border-radius: 30px;
    width: 30%;
    height: 80%;
    margin: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.522);
}

#studentFormButton{
    background-color: rgb(0, 244, 0);
    color: rgb(2, 0, 7);
    font-size: 80%;
    font-family: "Arial Black", "Arial Narrow", Arial, sans-serif;
    border-radius: 20px;
    width: 30%;
    height: 50%;
}

#studentFormButton:hover{
    background-color: rgb(0, 200, 0);
}

h2{
    font-family: "Bahnschrift SemiBold SemiCondensed", "Arial Narrow", Arial, sans-serif;
    font-size: 80%;
}

.notice{
    border: none;
    font-size: 100%;
    background:rgba(255, 255, 255, 0.777);
    border-radius: 30px;
    width: 30%;
    min-height: 400px;
    height: auto;
    margin-top: 5px;
    margin: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.522);
    
}

.noticeButton{
    background-color: rgb(0, 244, 0);
    color: rgb(2, 0, 7);
    font-size: 80%;
    font-family: "Arial Black", "Arial Narrow", Arial, sans-serif;
    border-radius: 20px;
    width: 30%;
    height: 50%;
    cursor: pointer;
}

.noticeButton:hover{
    background-color: rgb(0, 200, 0);
}

#joinUs{
    color: rgb(255, 255, 255);
    font-size: 50px;
    
}

#joinUsDev{
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

#copyrightDiv{
    position: sticky;
    bottom: 0;
    z-index: 1000;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.375);
    text-align: center;
    font-size: 80%;
}